@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #1a2037;
}



/* responsive */

@media (max-width: 800px) {
  .mrt {
    margin-top: -8px;
  }
  .dn {
    display: none;
  }
  .profile-logo {
    display: flex;
    justify-content: center;
  }
  .menu {
    margin: auto;
    left: 8px;
  }
  .mb {
    margin-bottom: 60px;
  }
}
